<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
</head>
<body>
  <div style="position: absolute; top: 6rem;">
    register
    <form id="joinForm">
      <p>
        <label>이름</label>
        <input type="text" name="name">
      </p>
      <p>
        <label>이메일</label>
        <input type="text" name="email">
      </p>
      <p>
        <label>유저 이름</label>
        <input type="text" name="username">
      </p>
      <p>
        <label>비밀번호</label>
        <input type="password" name="password">
      </p>
      <p>
        <label>자기소개</label>
        <textarea name="intro" placeholder="자신을 소개해보세요."></textarea>
      </p>
      <button type="submit" class="registerBtn">등록</button>
    </form>
  </div>

  <script th:src="@{/js/auth/register.js}"></script>
</body>
</html>