<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<body>
    <header class="header">
        <h1 class="logo">
            <a href="/geo/map"><img src="/images/logo/logo.png" alt="merci" style="height: 5.2rem;"></a>
        </h1>
        <div class="header-left">
            <ul>
                <li sec:authorize="isAnonymous()"><a th:href="@{/auth/login}">로그인</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/auth/register}">회원가입</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/auth/logout}">로그아웃</a></li>
            </ul>
        </div>
    </header>
</body>
</html>