<!DOCTYPE html>
<body>
<aside class="sidebar">
    <ul class="sidebar-menu">
        <li class="active">
            <a href="/geo/map">
                <div class="menu">
                    <i class="fa-solid fa-map-location-dot" aria-hidden="true"></i>
                    <span class="sidebar-txt">map</span>
                </div>
            </a>
        </li>
        <li class="bar">
            <a href="/score/calendar">
                <div class="menu">
                    <i class="fa-regular fa-calendar-check" aria-hidden="true"></i>
                    <span class="sidebar-txt">score</span>
                </div>
            </a>
        </li>
        <li class="bar">
            <a href="/plaza/publish">
                <div class="menu">
                    <i class="fa-solid fa-feather" aria-hidden="true"></i>
                    <span class="sidebar-txt">plaza</span>
                </div>
            </a>
        </li>
    </ul>
</aside>
</body>
</html>