<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<aside class="sidebar">
    <ul class="sidebar-menu">
        <li class="active">
            <a href="/geo/map">
                <span>지도</span>
            </a>
        </li>
        <li class="bar">
            <a href="#">
                <span>플래너</span>
            </a>
        </li>
        <li class="bar">
            <a href="#">
                <span>일기</span>
            </a>
        </li>
        <li class="bar">
            <a href="#">
                <span>가계부</span>
            </a>
        </li>
    </ul>
</aside>
</body>
</html>