<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <title>merci</title>

    <!--style-->
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/js/ol/ol.css}">

    <!--custom style-->
    <link rel="stylesheet" th:href="@{/css/init.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">

    <script th:src="@{/js/jquery/jQuery-2.1.4.min.js}"></script>
    <script th:src="@{/js/jquery/jquery-ui.js}"></script>
    <script th:src="@{/js/ol/dist/ol.js}"></script>
    <script th:src="@{/js/gis/GisLayer.js}"></script>
  </head>
  <th:block layout:fragment="script"></th:block>
</html>