<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/calendar.css}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://unpkg.com/moment-lunar@0.0.4/moment-lunar.min.js"></script>
</head>
<body>
<div class="main-wrapper">
    <!-- common -->
    <div th:include="common/header"></div>
    <div th:include="common/sidebar"></div>

    <section class="content">
        <div class="frame-wrapper">
            <div class="cframe">
                <div class="calendar-frame">
                    <div class="header-frame">
                        <div class="left-wrapper">
                            <div class="font-wrapper">
                                <span class="icon-span">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>
                                <div class="leftside-span"></div>
                            </div>
                            <div class="font-wrapper">
                                <span class="icon-span">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div>
                            <span class="year-span"></span>
                        </div>
                    </div>
                    <div class="calendar-body-frame">
                        <div th:each="day: ${week}" class="day">
                            <p th:text="${day}">day</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tframe">
                <div class="tags">
                    <div class="tag todo-tag"></div>
                    <div class="tag stat-tag"></div>
                    <div class="tag note-tag"></div>
                </div>
                <div class="todo-frame">
                    <div class="theader-frame">
                        <span class="yoil"></span>
                        <span class="day"></span>
                    </div>
                    <div class="tcontent-frame">
                        <div class="todo-list"></div>
                    </div>
                </div>
                <div class="stat-frame invisible">
                    <p>TODAY'S SCORE = <span class="score"></span></p>
                </div>
                <div class="note-frame invisible">

                </div>
            </div>
        </div>

        <!-- modal -->
        <div class="modal-wrapper2 draggable modal-none">
            <div class="modal-header">
                <button class="modal-close2">닫기</button>
            </div>
            <div class="modal-content">
                <div>
                    <input type="hidden" name="date" />
                    <input type="hidden" name="is-event" value="true" />
                    <input type="text" name="task" placeholder="할일을 입력해주세요." />

                    <button type="submit" class="register-task">등록</button>
                    <button class="modal-close2">닫기</button>
                </div>
            </div>
        </div>
    </section>

    <!-- js import -->
    <script th:src="@{/js/score/calendar.js}"></script>
    <script th:src="@{/js/util/modal.js}"></script>

</div>
</body>
</html>