<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/calendar.css}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://unpkg.com/moment-lunar@0.0.4/moment-lunar.min.js"></script>
</head>
<body>
<div class="main-wrapper">
    <!-- common -->
    <div th:include="common/header"></div>
    <div th:include="common/sidebar"></div>

    <section class="content">
        <div class="frame-wrapper">
            <div class="cframe">
                <div class="calendar-frame">
                    <div class="header-frame">
                        <div class="left-wrapper">
                            <div class="font-wrapper">
                                <span class="icon-span">
                                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                                </span>
                            </div>
                            <div>
                                <div class="leftside-span"></div>
                            </div>
                            <div class="font-wrapper">
                                <span class="icon-span">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <div>
                            <span class="year-span"></span>
                        </div>
                    </div>
                    <div class="calendar-body-frame">
                        <div th:each="day: ${week}" class="day">
                            <p th:text="${day}">day</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tframe">
                <div class="todo-frame">
                </div>
            </div>
        </div>
    </section>

    <!-- js import -->
    <script th:src="@{/js/score/calendar.js}"></script>
</div>
</body>
</html>