<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <link rel="stylesheet" th:href="@{/css/publish.css}">
</head>
<body>
    <div class="main-wrapper">
        <!-- common -->
        <div th:include="common/header"></div>
        <div th:include="common/sidebar"></div>

        <section class="content">
            <div class="publish-wrapper">
                <div class="workplace-wrapper">
                    <div class="title">
                        <input type="text" name="title" placeholder="제목을 입력하세요" />
                    </div>
                    <div class="hashtag">
                        <input type="text" name="hashtag-txt" placeholder="태그를 입력하세요" />
                    </div>
                    <div class="workplace">
                        <div class="bar">
                            toolbar
                        </div>
                        <div class="wp">
                            <textarea></textarea>
                            <div class="wp-core">
                                <div class="wp-textarea-wrapper">
                                    <textarea autocorrect="off" autocapitalize="off" spellcheck="false" style="position: absolute; bottom: -1em; padding: 0px; width: 300px; height: 300px; outline: none;" tabindex="0"></textarea>
                                </div>
                                <div class="wp-scroll">
                                    <div class="wp-sizer">
                                        <pre class="wp-placeholder">당신의 이야기를 적어보세요...</pre>
                                        <div class="wp-code-draft">
                                            <span></span>
                                        </div>
                                        <div class="cursors">
                                            <div class="cursor">&nbsp;</div>
                                        </div>
                                        <div class="wp-code">
                                            <pre class="wp-line"><span><span class="wp-txt">&ZeroWidthSpace;</span></span></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="publish-footer">
                        <button type="button" class="out-btn">나가기</button>
                        <button type="button" class="publish-btn">출간하기</button>
                    </div>
                </div>
                <div class="preview-wrapper">
                    <div class="title">
                        <span></span>
                    </div>
                    <div class="workplace">
                        <span></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- js import -->
        <script th:src="@{/js/post/class/BlogUtil.js}"></script>
        <script th:src="@{/js/post/publish.js}"></script>
    </div>
</body>
</html>