.frame-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height:calc(100vh - 7.2rem);
}

/*cframe*/
.cframe {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cframe .calendar-frame {
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}

.header-frame {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}

.header-frame .left-wrapper {
    display: flex;
}

.header-frame .left-wrapper .font-wrapper {
    display: flex;
    align-items: center;
}

.header-frame .left-wrapper .font-wrapper .icon-span {
    cursor: pointer;
}

.header-frame .left-wrapper .leftside-span {
    font-weight: bold;
    font-size: 4rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

.header-frame .year-span {
    color: var(--main-color);
    font-weight: bold;
    font-size: 2rem;
}

.calendar-body-frame {
    width: 100%;
    height: calc(100% - 6.3rem);
    display: grid;
    grid-template-columns: repeat(7, 14.28571%);
    grid-template-rows: 2.4rem repeat(5, calc((100% - 2.4rem) / 5));
}

.calendar-body-frame .day {
    width: 100%;
    font-size: 1.8rem;
    border-radius: 0.6rem;
    padding: 0.1rem 0.6rem;
    background-color: rgba(204, 204, 255, 0.5);
    text-align: center;
}

.calendar-body-frame .cell {
    width: 100%;
    position: relative;
    padding: 0.3rem;
    font-size: 16px;
    border-radius: 6px;
    color: #21252a;
    background-color: transparent;
}

.calendar-body-frame .cell-inner {
    z-index: -1;
}

.calendar-body-frame .cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.calendar-body-frame .obsolete-cell {
    width: 100%;
    position: relative;
    padding: 0.3rem;
    font-size: 16px;
    border-radius: 6px;
    color: #dddcdb;
    background-color: transparent;
}

.calendar-body-frame .obsolete-cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.calendar-body-frame .today-cell {
    width: 100%;
    position: relative;
    padding: 0.3rem;
    font-size: 16px;
    border-radius: 6px;
    color: #21252a;
    background-color: rgba(204, 204, 255, 0.3);
}

.calendar-body-frame .today-cell:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.calendar-body-frame .cell:hover {
    background-color: rgba(255, 225, 255, 0.7);
}

.calendar-body-frame .today-cell:hover {
    background-color: rgba(243, 221, 252, 0.79);
}

.calendar-body-frame .selected:hover {
    background-color: rgba(255, 225, 255);
}

.calendar-body-frame .selected {
    background-color: rgba(255, 225, 255, 0.7);
}

.calendar-body-frame .today-cell.selected {
    background-color: rgba(243, 221, 252, 0.79);
}

/*tframe*/
.tframe {
    flex: 1;
    padding: 4rem;
}

.tframe .todo-frame {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 225, 255, 0.3);
}
