#vMap {
    width: 100%;
    height: 100%;
}

.ol-attribution ul {
    display: none !important;
}

.layer_modal_wrap {
    position: fixed;
    top: 7.2rem;
    z-index: 1000;
    height: 100%;
    left: 39.9rem;
}

.layer_modal_con {
    position: absolute;
    width: 31rem;
    height: 100%;
    background: #fff;
    right: 0;
    overflow: auto;
}

.row {
    display: flex;
}

.map-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.bottom-alert {
    position: absolute;
    bottom: 0;
    left: 31rem;
    height: 10rem;
    background-color: #fff;
    width: calc(100% - 31rem);
    display: none;
}
