.publish-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.publish-wrapper .workplace-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.publish-wrapper .preview-wrapper {
    flex: 1;
    background-color: #f7fbfc;
    padding: 2rem;
}

/*workplace-wrapper*/
.workplace-wrapper .title {
    height: 6rem;
    width: 100%;
}

.workplace-wrapper .title input[name="title"] {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 4rem;
}

.workplace-wrapper .hashtag {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.2rem;
}

.workplace-wrapper .hashtag .hashtg {
    border-radius: 2rem;
    background-color: #98FB98;
    padding: 0.3rem 0.9rem;
}

.workplace-wrapper .hashtag input[name="hashtag-txt"] {
    height: 100%;
    border: none;
    outline: none;
    font-size: 2rem;
}

.workplace-wrapper .workplace {
    width: 100%;
    height: calc(100vh - 24.1rem);
}

.workplace-wrapper .workplace .wp {
    padding: 1rem;
    height: calc(100% - 1.92rem);
    overflow: auto;
}

.wp-core {
    min-height: 100%;
    position: relative;
}

.wp-core .wp-scroll {
    position: relative;
}

.wp-sizer {
    cursor: text;
}

.wp-sizer .wp-placeholder {
    font-style: italic;
    color: #868E96;
    line-height: inherit;
    height: 0;
}

.wp-sizer .wp-code {
    position: relative;
    width: 100%;
    line-height: 1.5;
}

.wp-sizer .wp-code .wp-line {
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: normal;
    line-height: inherit;
}

.workplace-wrapper .publish-footer {
    position: fixed;
    bottom: 0;
    left: 8.9rem;
    height: 6.4rem;
    background-color: gainsboro;
    display: flex;
    justify-content: space-between;
}

.workplace-wrapper .wp .wp-textarea-wrapper {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 300px;
    top: 0;
    left: 0;
}

.workplace-wrapper .wp .wp-code-draft {
    overflow: hidden;
    position: relative;
}

.workplace-wrapper .wp .wp-code-draft span {
    position: absolute;
}

.workplace-wrapper .wp .cursors {
    position: relative;
    visibility: hidden;
}

.cursors.cursor-visible {
    visibility: visible !important;
}

.cursors .cursor {
    position: absolute;
    top: 0;
    border-left: 0.1rem solid #000;
    border-right: none;
}

/*preview-wrapper*/
.preview-wrapper .title {
    height: 6rem;
    width: 100%;
}

.preview-wrapper .title span {
    width: 100%;
    height: 100%;
    font-size: 4rem;
}
