.sidebar {
    width: 29rem;
    background: #6A4A15;
    height: 100%;
    position: fixed;
    top: 6rem;
    padding-top: 3rem;
    z-index: 2000;
}

.sidebar ul li {
    position: relative;
    transition: 0.2s;
}

.sidebar ul li a {
    position: relative;
}