<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/gis.css}">
  <link rel="stylesheet" href="../../static/css/layout.css">
</head>
<body>
<th:block th:include="common/header"></th:block>
<th:block th:include="common/sidebar"></th:block>
  <section class="content">
    <div id="vMap"></div>

    <script th:src="@{/js/gis/gis.js}"></script>
  </section>
</body>
</html>