  <!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/gis.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/modal.css}">
  <link rel="stylesheet" href="../../static/css/layout.css">
</head>
<body>
<div class="main-wrapper">
  <th:block th:include="common/header"></th:block>
  <th:block th:include="common/sidebar"></th:block>
  <section class="content">
    <div class="layer_modal_wrap">
      <div class="layer_modal_con">
        <strong>지도</strong>
        <div class="row" style="display: flex; flex-direction: column;">
          <label style="display: flex;padding: 12px;">
            <input type="checkbox" checked/>
            <p>장소 등록</p>
          </label>
          <div id="addLocBox" aria-expanded="true">
            <label style="display: flex;padding: 12px;">
              <input type="checkbox" id="chkMANUAL" value="MANUAL" onchange="GisLayer.layerCheckHandler(this.value)"/>
              <p>직접 등록</p>
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="map-wrapper">
      <!--map-->
      <div id="vMap"></div>
      <div class="bottom-alert">
        <div class="place">
          <p></p>
        </div>
        <strong>해당 장소를 등록하시겠습니까?</strong>
        <button class="yes">네</button>
        <button class="no">아니요</button>
      </div>
    </div>

    <script th:src="@{/js/gis/gis.js}"></script>
    <script th:src="@{/js/util/modal.js}"></script>

    <!-- modal -->
    <div class="modal register-modal modal-none">
      <div class="modal-wrapper">
        <div class="modal-header">
          <strong>장소 추가하기</strong>
          <button class="modal-close">닫기</button>
        </div>
        <div>
          <form>
            <div class="item">
              <label>
                <span>이름 *</span>
              </label>
              <input type="text" id="placeName" name="placeName" placeholder="장소이름을 입력해 주세요.">
            </div>
            <div class="item">
              <label>
                <span>위치 *</span>
              </label>
              <input type="text" id="placeLoc" name="placeLoc" readonly="readonly">
            </div>
            <button type="button">등록</button>
            <button class="modal-close">닫기</button>
          </form>
        </div>
      </div>
    </div>

  </section>
</div>
</body>
</html>