<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/map.css}">
  <link rel="stylesheet" th:href="@{/css/layout.css}">
  <link rel="stylesheet" th:href="@{/css/modal.css}">
</head>
<body>
<div class="main-wrapper">
  <th:block th:include="common/header"></th:block>
  <th:block th:include="common/sidebar"></th:block>
  <section class="content">
    <div class="layer_modal_wrap">
      <div class="layer_modal_con">
        <strong>지도</strong>
        <div class="row" style="display: flex; flex-direction: column;">
          <label style="display: flex;padding: 12px;">
            <input type="checkbox" checked/>
            <p>장소 등록</p>
          </label>
          <div id="addLocBox" aria-expanded="true">
            <label style="display: flex;padding: 12px;">
              <input type="checkbox" id="chkMANUAL" value="MANUAL" onchange="layerCheckHandler(this.value)"/>
              <p>직접 등록</p>
            </label>
            <label style="display: flex;padding: 12px;">
              <input type="checkbox" id="chkCURRENT" value="CURRENT" onchange="layerCheckHandler(this.value)"/>
              <p>현재 위치 등록</p>
            </label>
            <label style="display: flex;padding: 12px;">
              <input type="checkbox" id="chkSEARCH" value="SEARCH" onchange="layerCheckHandler(this.value)"/>
              <p>검색 위치 등록</p>
            </label>
            <div>
              <input type="text" id="search-location">
              <button type="button" class="search-location-btn">위치 검색</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map-wrapper">
      <!--map-->
      <div id="vMap"></div>
      <div class="bottom-alert">
        <div class="place">
          <p></p>
        </div>
        <strong>해당 장소를 등록하시겠습니까?</strong>
        <button class="yes">네</button>
        <button class="no">아니요</button>
      </div>
    </div>

    <script th:src="@{/js/geo/map.js}"></script>
    <script th:src="@{/js/util/modal.js}"></script>

    <!-- modal -->
    <div class="modal register-modal modal-none">
      <div class="modal-wrapper">
        <div class="modal-header">
          <strong>장소 추가하기</strong>
          <button class="modal-close">닫기</button>
        </div>
        <div>
          <form action="/spot/register" method="post" enctype="multipart/form-data">
            <input type="hidden" name="spotLon">
            <input type="hidden" name="spotLat">
            <div class="item">
              <label>
                <span>대표이미지  </span>
              </label>
              <input type="file" multiple="multiple" name="spotImg">
            </div>
            <div class="item">
              <label>
                <span>이름 *</span>
              </label>
              <input type="text" id="spotName" name="spotName" placeholder="장소이름을 입력해 주세요." required>
            </div>
            <div class="item">
              <label>
                <span>위치 *</span>
              </label>
              <input type="text" id="spotLoc" name="spotLoc" readonly="readonly" required>
            </div>
            <div class="item">
              <label>
                <span>설명  </span>
              </label>
              <textarea id="spotExp" name="spotExp" rows="4" cols="10" placeholder="장소설명을 입력해 주세요."></textarea>
            </div>
            <button type="submit" class="register">등록</button>
            <button class="modal-close">닫기</button>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
</body>
</html>